body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/*INICIO CABEÇALHO*/
header {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu .menu-line {
  border: 1px solid rgb(39, 39, 39);
  width: 22px;
  margin-bottom: 5px;
}
.menu:hover {
  cursor: pointer;
  .menu-line {
    border-color: rgb(77, 77, 78);
  }
}

.area-menu {
  background-color: #0b86b2;
  height: 400px;
  width: 300px;
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  display: none;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #333;
}
.area-menu ul {
  list-style: none;
}
.area-menu ul li a {
  text-decoration: none;
  color: #fff;
}
.area-menu ul li a:hover {
  color: #333;
}
.area-menu ul li {
  margin-bottom: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.content .presentation,
.name,
.function,
.photo {
  margin: 5px;
}
.content .photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("../../assets/images/vann.jpg");
  background-size: cover;
  background-position: center;
}
.content .presentation {
  color: #0b86b2;
}
.content .name {
  color: #3b576d;
}
.content .function {
  color: rgb(59, 109, 88);
}
