:root {
  --azul-cinza: #3b576d;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*INICIO CABEÇALHO*/
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
header .logo {
  font-size: 23px;
  font-weight: bold;
  color: #fff;
}

.menu {
  display: flex;
  flex-direction: column;
 
}
.menu .menu-line {
  
  width: 22px;

}
.menu-line #img2{
  display: none;
}
.menu:hover {
  cursor: pointer;
  transform: scale(1.2,1.2);
  transition: transform 0.3s ease-in-out;
  .menu-line {
    border-color: rgb(77, 77, 78);
  }
  
}

.area-menu{
    background-color: #0b86b2;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    display: none;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #333;
   
    
}
.area-menu ul{
    list-style: none;
}
.area-menu ul li a{
    text-decoration: none;
    color: #fff;
    
}
.area-menu ul li a:hover{
    
    color: #333;
    
}
.area-menu ul li{
    margin-bottom: 25px;
}
/*FIM CABEÇALHO*/

/*PRINCIPAL*/

.container {
  display: flex;
  height: calc(100vh);
}
/*LADO ESQUERDO*/
.container .leftside {
  background-color: #0b86b2;
  color: azure;
  flex: 1;
  display: flex;
  padding: 0 30px;
}
.container .leftside .info {
  margin: auto;
  color: #fff;
}
.info .profession {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 19px;
}
.info .name {
  font-weight: bold;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info .buttons a {
  display: inline-block;
  background-color: #fff;
  color: #0b86b2;
  padding: 20px 40px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 0px 5px #333;
  border-radius: 4px;
  margin-right: 10px;
}
.buttons a.hireme {
  background-color: rgb(39, 39, 39);
  color: #fff;
}
.info .buttons a:hover {
  opacity: 0.9;
}

/*FIM LADO ESQUERDO*/

/*LADO DIREITO*/
.container .rightside {
  display: flex;
  background-color: rgb(238, 244, 248);
  flex: 1;
  align-items: center;
  justify-content: center;
}
.container .rightside .area-foto {
  width: 400px;
  height: 400px;
  background-color: black;
  background-image: url(../images/vann.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 5px solid #0b86b2;
}

/*FIM LADO DIREITO*/

/*RODAPÉ*/
footer {
  color: #ffffff;
  padding: 20px;
  font-size: 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
/*FIM RODAPÉ*/

@media (max-width: 850px) {
  .container {
    flex-direction: column;
    height: 100%;
  }
 
  header {
    position: static;
    background-color: #0b86b2;
    margin-bottom: 0;
  }
  body .container .leftside {
    flex: 0;
    padding: 15px;
  }
  .container .leftside .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .container .rightside {
    flex: 0;
    padding: 10px;
  }
  .container .rightside .area-foto {
    height: 300px;
    width: 300px;
  }
  footer {
    color: #000000;
    font-size: 14px;
    background-color: rgb(238, 244, 248);
    position: initial;
  }
}
@media (max-width: 423px) {
  .info .name {
    font-size: 55px;
  }
  .buttons a.hireme {
    margin-top: 10px;
  }
  footer {
    font-size: 10px;
    padding: 11px;
    
  }
}
